.section-header {
  background-image: url('../../assets/MainBackground.png');
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

.section-header-inf {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1500px;
}

.section-header-inf h1 {
font-weight: 400;
font-size: 150px;
line-height: 190px;
color: #F7F4F2;
text-align: center;
}

.section-header-inf button {
width: 149px;
height: 56px;
margin-top: 64px;
background: #F7F4F2;
border: none;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #1E1E1E;
transition: all 0.3s ease-in-out 0.1s;
text-decoration: none;
border: none;
}

.section-header-inf button:hover {
  background: #1E1E1E;
  color: #F7F4F2;
}

.shopTarget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 150px;
}

.shopTarget p {
 width: 600px;
}

.shopTarget img {
 width: 500px;
}

.targetText {
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  color: #1E1E1E;
}

.shopTarget-inf {
  margin-top: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1E1E1E;
}

.shopTarget button{
  background: none;
  border: 1px solid #1E1E1E;
  width: 110px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #1E1E1E;
  margin-top: 30px;
}

.section-brands {
  background-color: #1E1E1E;
  padding: 100px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brands-svg {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  align-items: center;
}

.brands-text {
  font-weight: 400;
  font-size: 30px;
  line-height: 54px;
  width: 700px;
  text-align: center;
  color: #F7F4F2;
  margin-top: 80px;
}

.brands-header {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #F7F4F2;
  margin-bottom: 50px;
}

.brand-values {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-ourValues {
  padding: 100px 150px;
  
}

.value-text {
  font-weight: 400;
  font-size: 16px; 
  line-height: 24px;  
  text-align: center;
  color: #1E1E1E;
  align-self: center;
  width: 350px;
  margin-top: 15px;
}

.value-header {
  font-weight: 400;
  font-size: 28px;
  color: #1E1E1E;
  margin-top: 10px;
}

.value-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-ourValues h3 {
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  color: #1E1E1E;
  margin-bottom: 15px;
}

hr {
  border: 1px solid #CCCCCC;
}