.accordion-categories {
  width: 500px;
  margin: 0;
}
.accordion-categories button {
  background: none;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1E1E1E;
  margin-bottom: 10px;
  height: 30px;
  
}

.scrollCategories {
  overflow-x: hidden;
  
}